h1 {
  font-size: 20px;
  color: #c7c116;
  background-color: RGB(60, 85, 120);
  text-align: center;
}
pre {
  font-size: 15px;
  color: RGB(200, 85, 120);
  text-align: none;
}
a:link,
a:visited {
  background-color: #858383;
  color: white;
  padding: 15px 25 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover,
a:active {
  background-color: rgb(161, 255, 9);
}
